<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style2.css">
    <title>Document</title>
</head>
<body>

    <div class="container">   
        <h1> Please enter your Name to log-in  </h1>

        <form method="POST" action="/register">
            <input type="text" id="name" name="name" required placeholder="Enter your name">
            <br>
            <input type="password" id="password" name="password" required placeholder="Enter your password">
            <br>
            <input type="submit" value="Register" id="register">
        </form>
    </div>
</body>
</html>